### Direnv
.direnv
/direnv
### Doc related
*.aux
*.bbl
*.bcf
*.blg
*.blx
*.log
*.toc
*.out
*.psd
# *.pdf
*.lol
*.synctex.gz
*.fls
*.fdb_latexmk
*.class
**/target/

# Scripts
*.bat
launch.json
/ObjectOrientation/ObjectOrientation-src/target/
/target/
